/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h2 {
  font-family: "Europa-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #db5e5d;
  text-align: center;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #db5e5d;
  font-family: "Europa-Bold";
  font-size: 170px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  top: 350px;
  align-items: center;
}

@keyframes imageAnim {
  0% {
    opacity: 0;
    background: #d0d2ad;
  }
  33% {
    opacity: 1;
    background: #db5e5d;
  }
  66% {
    opacity: 1;
    background: #3d3133;
  }
  100% {
    opacity: 0;
    background: #d0d2ad;
  }
}

.t-blonde {
  animation: imageAnim 6s infinite;

  h1 {
    color: #3d3133;
  }
}

.t-brune {
  animation: imageAnim 6s infinite;
  animation-delay: 2s;
  h1 {
    color: #d0d2ad;
  }
}
.t-ipa {
  animation: imageAnim 6s infinite;
  animation-delay: 2s;
  h1 {
    color: #db5e5d;
  }
}

.t-ipa {
  animation: imageAnim 6s infinite;
  animation-delay: 4s; /* Delays the animation to start at 66% */
}
.Navigation .container-fluid .icon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}
.l-intro .container h2 {
  color: #d0d2ad;
  font-family: "Europa-Bold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 133px;
  margin-bottom: 169px;
}
.l-intro .container p {
  color: #d0d2ad;
  text-align: center;
  font-family: Europa-Regular;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.l-intro .container hr {
  border: none;
  width: 657px;
  height: var(--Number, 2px);
  color: #d0d2ad;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: 2px solid #d0d2ad;
}
.l-shop h2 {
  color: #d0d2ad;
}
.l-shop p {
  color: #d0d2ad;
  font-family: "Europa-light";
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
}
.l-shop button {
  background-color: #d0d2ad;
  color: #3d3133;
  font-size: 2rem;
  padding: 20px 40px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Europa-bold";
  cursor: pointer;
  outline: none;
  position: relative;
}
.l-shop .container button {
  position: relative;
  display: flex;
}

.l-shop .container .tittle h2 {
  font-family: "Europa-Bold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 133px;
  margin-bottom: 169px;
}
.l-shop .container h2 {
  font-family: "Europa-Bold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 13px;
}
.l-histoire .container h2 {
  color: #3d3133;
  font-family: "Europa-Bold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 13px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 133px;
  margin-bottom: 169px;
}
.l-histoire .container p {
  color: #3d3133;
  font-family: "Europa-light";
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 187px;
  margin-right: 187px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.l-histoire .container img {
  width: 803px;
  height: 823px;
  position: relative;
  left: 50%;
}
.l-histoire button {
  color: #5a514b;
  text-align: center;
  font-family: "Europa-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 176px;
}
.l-ou-nous-trouver button {
  color: #5a514b;
  text-align: center;
  font-family: "Europa-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 176px;
}
.l-ou-nous-trouver h2 {
  color: #3d3133;
  font-family: "Europa-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 552px;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 61px;
}
.l-ou-nous-trouver h3 {
  color: #3d3133;
  text-align: center;
  font-family: "Europa-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 323px;
}
.l-histoire .container button {
  display: flex;
}
.l-ou-nous-trouver p {
  color: #3d3133;
  text-align: center;
  font-family: Europa-Light;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.l-quoi-de-neuf h2 {
  color: #d0d2ad;
  font-family: "Europa-Bold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 13px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin-top: 133px;
  margin-bottom: 169px;
}
.l-quoi-de-neuf img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  margin-right: 224px;
}

.header-container {
  position: absolute;
  top: 20px;
  left: 40px;
  right: 60px;
  display: flex;
  z-index: 3;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
