.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #d0d2ad;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu li {
  color: #3d3133;
  text-align: center;
  font-family: Europa-Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 129px;
  margin-bottom: 129px;
}
.image-and-text img {
  max-width: 100%;
  height: 891px;
  margin-top: 20px;
}
.image-and-text img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.l-intro {
  background: #db5e5d;
  width: auto;
  height: 820px;
}
.l-shop {
  background: #3d3133;
  width: auto;
  height: auto;
}
.l-histoire {
  background: #d0d2ad;
  width: auto;
  height: auto;
}
.l-quoi-de-neuf {
  background: #db5e5d;
  width: auto;
  height: auto;
}

.l-suivez-nous {
  background: #3d3133;
  width: auto;
  height: auto;
}
.l-ou-nous-trouver {
  background: #d0d2ad;
}
.footer {
  font-family: "Europa-bold";
  background-color: #db5e5d;
  color: #d0d2ad;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.newsletter h2 {
  font-size: 1.5rem;
}

.newsletter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.newsletter-input input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #d0d2ad;
  border-radius: 5px;
}

.newsletter-input button {
  background-color: #d0d2ad;
  color: #db5e5d;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-icons {
  font-size: 2rem;
  margin: 10px 0;
}

.address h3 {
  font-size: 1.2rem;
}

.policies p {
  margin: 5px 0;
}

.copyright {
  flex-basis: 100%;
  margin-top: 20px;
  font-size: 0.8rem;
}
