.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #d0d2ad;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.l-intro {
  background: #db5e5d;
  width: auto;
  height: 820px;
}
.l-shop {
  background: #3d3133;
  width: auto;
  height: auto;
}
.l-histoire {
  background: #d0d2ad;
  width: auto;
  height: auto;
}
.l-quoi-de-neuf {
  background: #db5e5d;
  width: auto;
  height: auto;
}

.l-suivez-nous {
  background: #3d3133;
  width: auto;
  height: auto;
}
.l-ou-nous-trouver {
  background: #d0d2ad;
}
