.l-intro {
  background: #db5e5d;
  width: auto;
  height: 820px;
}
.l-shop {
  background: #3d3133;
  width: auto;
  height: auto;
}
.l-histoire {
  background: #d0d2ad;
  width: auto;
  height: auto;
}
.l-quoi-de-neuf {
  background: #db5e5d;
  width: auto;
  height: auto;
}

.l-suivez-nous {
  background: #3d3133;
  width: auto;
  height: auto;
}
.l-ou-nous-trouver {
  background: #d0d2ad;
}
